<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Fulltimeforece</a>

  <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/empleado']">Empleado</a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/alumno']">Alumno</a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/palindrome']">Palindrome</a>
      </li>
  </ul>
</nav>